:root {
    --branco: white;
    --cor-de-fundo: #bf53d4af;
    --fundo-senha: #8504cf59;
    --fundo-texto: #001e4050;
    --borda: #0077ff00; 

}
body {
    color: var(--branco);
    background-color: var(--cor-de-fundo);
}
.conteudo-titulo{
    text-align:center;
    margin-top: 80px;
}